<h2>Új üzenet írása</h2>
<form [formGroup]="messageForm" (ngSubmit)="addMessage(messageForm)" novalidate>
	<div fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-form-field appearance="fill" fxFlex="100" aria-disabled="dis">
			<mat-label>Üzenet címe</mat-label>
			<input matInput type="text" placeholder="Cím" formControlName="title">
            <mat-error>Mező kitöltése kötelező!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Címzett</mat-label>
			<mat-select formControlName="receiver">
				<mat-option value="1">Admin</mat-option>
				<mat-option value="2">Leader</mat-option>
				<mat-option value="3">Worker</mat-option>
			</mat-select>
		</mat-form-field>

        <mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Üzenet szövege</mat-label>
			<textarea matInput rows="10" placeholder="Üzenet szövege..." formControlName="message"></textarea>
			<mat-error>Mező kitöltése kötelező!</mat-error>
		</mat-form-field>

		<div>
            <button mat-raised-button type="submit" color="accent">Küldés</button>
		</div>
    </div>
</form>