<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="80">
        <mat-toolbar><span class="menu-spacer"></span>Kérelmek elbírálása ({{dateGroup.value['day']}})<span class="menu-spacer"></span></mat-toolbar>
        <mat-tab-group mat-strech-tabs mat-align-tabs="center" dynamicHeight>
            <mat-tab label="Munkaidő">
                <div class="workinglist">
                    <form [formGroup]="dateGroup" (submit)="list(dateGroup)">
                        <mat-form-field appearance="fill" fxFlex="15">
                            <mat-label>Dátum</mat-label>
                            <input matInput type="date" formControlName="day">
                            <mat-error>Mező kitöltése kötelező!</mat-error>
                        </mat-form-field>
                        <div>
                            <button class="list" mat-raised-button color="accent"><mat-icon>add</mat-icon>Listáz</button>
                        </div>
                    </form>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-around center" >
                        <div class="menu-spacer"></div>
                        <p>Ellenőrizetlen munkaidők</p>
                        <div class="menu-spacer"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Dátum</th>
                            <th>Kezdés időpontja</th>
                            <th>Befejezés időpontja</th>
                            <th>Műveletek</th>
                        </tr>
                        <tr *ngFor="let item of (wt.workingtimes$ |async)">
                            <ng-container *ngIf="item.validated !== true">
                                <td>{{item.user.name}}</td>
                                <td>{{item.start}}</td>
                                <td>{{item.start}}</td>
                                <td>{{item.end}}</td>
                                <td>
                                    <button mat-mini-fab color="primary" (click)="validateWT(item)"><mat-icon>done</mat-icon></button>
                                </td>
                            </ng-container>
                        </tr>
                    </table>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-around center" >
                        <div class="menu-spacer"></div>
                        <p>Ellenőrzött munkaidők</p>
                        <div class="menu-spacer"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Dátum</th>
                            <th>Kezdés időpontja</th>
                            <th>Befejezés időpontja</th>
                        </tr>
                        <tr *ngFor="let item of (wt.workingtimes$ |async)">
                            <ng-container *ngIf="item.validated === true">
                                <td>{{item.user.name}}</td>
                                <td>{{item.start}}</td>
                                <td>{{item.start}}</td>
                                <td>{{item.end}}</td>
                            </ng-container>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab label="Szabadság">
                <div class="holidayrequest">
                    <form [formGroup]="dateGroup" (submit)="list(dateGroup)">
                        <mat-form-field appearance="fill" fxFlex="15">
                            <mat-label>Dátum</mat-label>
                            <input matInput type="date" formControlName="day">
                            <mat-error>Mező kitöltése kötelező!</mat-error>
                        </mat-form-field>
                        <div>
                            <button class="list" mat-raised-button color="accent"><mat-icon>add</mat-icon>Listáz</button>
                        </div>
                    </form>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-around center" >
                        <div class="menu-spacer"></div>
                        <p>Ellenőrizetlen szabadságkérelmek</p>
                        <div class="menu-spacer"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Kért nap</th>
                            <th>Műveletek</th>
                        </tr>
                        <tr *ngFor="let item of (hr.holidayrequest$ |async)">
                            <ng-container *ngIf="item.status==='UNSEEN'">
                                <td>{{item.user.name}}</td>
                                <td>{{item.requestedDay}}</td>
                                <td>
                                    <button mat-mini-fab color="primary" (click)="evaluate(item.id, true)"><mat-icon>done</mat-icon></button>
                                    <button mat-mini-fab color="warn" (click)="evaluate(item.id, false)"><mat-icon>clear</mat-icon></button>
                                </td>
                            </ng-container>
                        </tr>
                    </table>
                    <div class="header" fxLayout="row" fxLayoutAlign="space-around center" >
                        <div class="menu-spacer"></div>
                        <p>Ellenőrzött szabadságkérelmek</p>
                        <div class="menu-spacer"></div>
                    </div>
                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Kért nap</th>
                            <th>Státusz</th>
                        </tr>
                        <tr *ngFor="let item of (hr.holidayrequest$ |async)">
                            <ng-container *ngIf="item.status!=='UNSEEN'">
                                <td>{{item.user.name}}</td>
                                <td>{{item.requestedDay}}</td>
                                <td>{{item.status}}</td>
                            </ng-container>
                        </tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>