<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="20">
        <mat-toolbar color="accent"><span class="menu-spacer"></span>Beléptetés<span class="menu-spacer"></span></mat-toolbar>
        <mat-tab-group mat-strech-tabs mat-align-tabs="center" color="accent" dynamicHeight>
            <mat-tab label="Bejelentkezés">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="Regisztráció">
                <app-registration></app-registration>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>