<section class="menu">
    <div class="menu-button-row">
        <div class="menu-flex-container">
            <div class="menu-button">
                <button mat-mini-fab aria-label="Hirdetmények" routerLink="/announcements" routerLinkActive="active" matTooltip="Hirdetmények">
                    <mat-icon>announcements</mat-icon>
                </button>
            </div>
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Naptár" routerLink="/calendar" routerLinkActive="active" matTooltip="Naptár">
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </div>
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Naptár" [matMenuTriggerFor]="calendarMenu" matTooltip="Naptár">
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </div>

            <div class="menu-button">
                <button mat-mini-fab aria-label="Üzenetek" [matMenuTriggerFor]="messagesMenu" matTooltip="Üzenetek">
                    <mat-icon>chat</mat-icon>
                </button>
            </div>    
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Alkalmazottak" routerLink="/members" routerLinkActive="active" matTooltip="Alkalmazottak">
                    <mat-icon>supervisor_account</mat-icon>
                </button>
            </div>

            <div class="menu-button">
                <button mat-mini-fab aria-label="Profil" [matMenuTriggerFor]="profileMenu" matTooltip="Profil">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

<mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Profil
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>vpn_key</mat-icon>
        Kijelentkezés
    </button>
</mat-menu>

<mat-menu #messagesMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/messages/sent" routerLinkActive="active">
        <mat-icon>redo</mat-icon>
        Elküldött
    </button>
    <button mat-menu-item routerLink="/messages/received" routerLinkActive="active">
        <mat-icon>undo</mat-icon>
        Fogadott
    </button>
    <button mat-menu-item (click)="openNewMessageDialog()">
        <mat-icon>add</mat-icon>
        Új üzenet küldése
    </button>
</mat-menu>

<mat-menu #calendarMenu="matMenu">
    <button mat-menu-item routerLink="/calendar" routerLinkActive="active">
        <mat-icon>calendar_today</mat-icon>
        Naptár
    </button>
    <button mat-menu-item routerLink="/unseen" routerLinkActive="active">
        <mat-icon>pending</mat-icon>
        Kérlmek elbírálása
    </button>
</mat-menu>