<section class="menu">
    <div class="menu-button-row">
        <div class="menu-flex-container">
            <div class="menu-button">
                <button mat-mini-fab aria-label="Hirdetmények" routerLink="/announcements" routerLinkActive="active">
                    <mat-icon>announcements</mat-icon>
                </button>
            </div>
            <div class="menu-button">
                <button mat-mini-fab aria-label="Szabadságnyilvántartás">
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </div>
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Munkaidőnyilvántartás" routerLink="/workingtime" routerLinkActive="active">
                    <mat-icon>schedule</mat-icon>
                </button>
            </div>
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Üzenetek" [matMenuTriggerFor]="messagesMenu">
                    <mat-icon>chat</mat-icon>
                </button>
            </div>    
        
            <div class="menu-button">
                <button mat-mini-fab aria-label="Profil" [matMenuTriggerFor]="profileMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

<mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Profil
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>vpn_key</mat-icon>
        Kijelentkezés
    </button>
</mat-menu>

<mat-menu #messagesMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/messages/sent" routerLinkActive="active">
        <mat-icon>redo</mat-icon>
        Elküldött
    </button>
    <button mat-menu-item routerLink="/messages/received" routerLinkActive="active">
        <mat-icon>undo</mat-icon>
        Fogadott
    </button>
    <button mat-menu-item (click)="openNewMessageDialog()">
        <mat-icon>add</mat-icon>
        Új üzenet küldése
    </button>
</mat-menu>