<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="80">
        <mat-toolbar><span class="menu-spacer"></span>Hirdetmények<span class="menu-spacer"></span>
            <ng-container *ngIf="isUserAllowedToCreate()">
                <button mat-mini-fab color="primary" class="new-announcement" (click)="openAddAnouncementDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-container>
        </mat-toolbar>
        <mat-card-content>
            <ng-container *ngFor="let item of (ass.announcements$ | async);">
                <div class="announcement">
                    <app-announcement [announcement]="item"></app-announcement>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>
</div>