<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="80">
        <mat-toolbar>Hirdetmények
            <button mat-mini-fab color="primary" class="new-announcement" (click)="openAddAnouncementDialog()">
                <mat-icon>add</mat-icon>
                Csak adminnál
            </button>
        </mat-toolbar>
        <mat-card-content>
            <div class="announcement">
                <app-announcement></app-announcement>
            </div>
            <div class="announcement">
                <app-announcement></app-announcement>
            </div>
            <div class="announcement">
                <app-announcement></app-announcement>
            </div>
            <div class="announcement">
                <app-announcement></app-announcement>
            </div>
        </mat-card-content>
    </mat-card>
</div>