<h2>Profil módosítása</h2>
<form [formGroup]="userForm" (ngSubmit)="editProfile(userForm)" novalidate>
	<div fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-form-field appearance="fill" fxFlex="100" aria-disabled="dis">
			<mat-label>Név</mat-label>
			<input matInput type="text" placeholder="Név" formControlName="name">
            <mat-error>Mező kitöltése kötelező!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Email cím</mat-label>
			<input matInput type="email" placeholder="E-mail cím" formControlName="email">
			<mat-error>Mező kitöltése kötelező!</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Beosztás</mat-label>
			<mat-select formControlName="role">
				<mat-option value="ROLE_ADMIN">Admin</mat-option>
				<mat-option value="ROLE_LEADER">Vezető</mat-option>
				<mat-option value="ROLE_WORKER">Alkalmazott</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill" fxFlex="100">
			<mat-label>Telephelyek</mat-label>
			<mat-select formControlName="sites" multiple [(ngModel)]="selected">
				<mat-option *ngFor="let site of (ss.sites$ | async)" [value]="site.id" >{{site.name }} ({{site.location}})</mat-option>
			</mat-select>
		</mat-form-field>
		<div>
			<button mat-raised-button type="submit" color="accent">Módosítás</button>
		</div>
    </div>
</form> 