<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title><b>{{ message.title }}</b><mat-icon>visibility</mat-icon></mat-panel-title>
            <mat-panel-description>
                <span><mat-icon>account_circle</mat-icon>
                    <ng-container *ngIf="router.url == '/messages/sent';else sender">
                        <span class="label">{{message.receiver.name}}</span>
                    </ng-container>
                    <ng-template #sender>
                        <span class="label">{{ message.sender.name }}</span>
                    </ng-template>
                </span>
                <span><mat-icon>schedule</mat-icon><span class="label">{{ message.created_at?.toString() }}</span></span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{message.message}}</p>
    </mat-expansion-panel>
</mat-accordion>