<mat-accordion multi >
    <mat-expansion-panel >
        <mat-expansion-panel-header [ngClass]="{'colored' : router.url === '/messages/received' && message.seen_at == null}" (click)="clickOnMessage(message)">
            <mat-panel-title><b>{{ message.title }}</b>
                <ng-container *ngIf="router.url == '/messages/sent'">
                    <ng-container *ngIf="message.seen_at != null;else notseen">
                        <mat-icon matTooltip="Látta ekkor: {{message.seen_at}}">visibility</mat-icon>
                    </ng-container>
                    <ng-template #notseen>
                        <mat-icon matTooltip="Még nem látta">visibility_off</mat-icon>
                    </ng-template>
                </ng-container>
            </mat-panel-title>
            <mat-panel-description>
                <span><mat-icon>account_circle</mat-icon>
                    <ng-container *ngIf="router.url == '/messages/sent';else sender">
                        <span class="label">{{message.receiver.name}}</span>
                    </ng-container>
                    <ng-template #sender>
                        <span class="label">{{ message.sender.name }}</span>
                    </ng-template>
                </span>
                <span><mat-icon>schedule</mat-icon><span class="label">{{ message.created_at?.toString() }}</span></span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{message.message}}</p>
    </mat-expansion-panel>
</mat-accordion>