<div *ngIf="router.url == '/messages/sent'; else received">
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="80">
            <mat-toolbar>Elküldött üzenetek</mat-toolbar>
            <mat-card-content>
                <div class="message" *ngFor="let message of (ms.sentMessages$ | async)">
                    <app-message [message]="message"></app-message>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #received>
    <div fxLayoutAlign="center center" fxFlexFill>
        <mat-card fxFlex="80">
            <mat-toolbar>Kapott üzenetek</mat-toolbar>
            <mat-card-content>
                <div class="message" *ngFor="let message of (ms.receivedMessages$ | async)">
                    <app-message [message]="message"></app-message>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>