<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="50">
        <mat-card-header>
            <div mat-card-avatar class="profile-avatar"></div>
             <mat-card-title>{{ ps.currentUser$.value.name}}</mat-card-title>
             <mat-card-subtitle>{{ ps.currentUser$.value.role.split('_')[1] }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span><b>E-mail:</b>{{ps.currentUser$.value.email}}</span>
            <br>
            <span>
                <b>Telephelyek:</b>
                <ul>
                    <ng-container *ngFor="let site of ps.currentUser$.value.sites">
                        <li>{{site.name}} ({{site.location}})</li>
                    </ng-container>
                </ul> 
            </span>
        </mat-card-content>
        <ng-container *ngIf="ps.currentUser$.value.role === 'ROLE_ADMIN'">
            <mat-card-actions>
                <button mat-mini-fab color="accent" matTooltip="Szerkesztés" class="profile-edit" (click)="openEditDialog()">
                    <mat-icon>settings</mat-icon>
                    Csak adminnál
                </button>
            </mat-card-actions>
        </ng-container>
            <span><mat-icon>email</mat-icon><span class="label">nev@mnyr.hu</span></span><br>
            <span><mat-icon>schedule</mat-icon><span class="label">2020.2.20</span></span><br>
            <span>
                <mat-icon>domain</mat-icon><span class="label">Telephely(ek)</span>
                <ul class="site-list">
                    <li *ngFor="let i of ['Bp', 'Zeg']">{{i}}-i telephely</li>
                </ul>
            </span>
        </mat-card-content>
    </mat-card>
</div>
