<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="50">
        <mat-card-header>
            <div mat-card-avatar class="profile-avatar"></div>
             <mat-card-title>Név</mat-card-title>
             <mat-card-subtitle>Beosztás</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span><b>E-mail:</b> admin@admin.hu</span>
            <br>
            <span>
                <b>Telephelyek:</b>
                <ul>
                    <li>Első telephely</li>
                    <li>Második telephely</li>
                </ul>
            </span>
        </mat-card-content>
        <mat-card-actions>
            <button mat-mini-fab color="accent" matTooltip="Szerkesztés" class="profile-edit" (click)="openEditDialog()">
                <mat-icon>settings</mat-icon>
                Csak adminnál
            </button>
        </mat-card-actions>
    </mat-card>
</div>
