.announcement-edit {
    margin: 0;
    padding: 0;
    position: absolute;
    right:20px;
    bottom:20px;
}

mat-card-content {
    margin-bottom: 50px;
}

mat-card-content p{
    text-align: justify;
}