<mat-card>
    <mat-card-header>
         <mat-card-title>{{announcement.title}}</mat-card-title>
         <mat-card-subtitle><span><mat-icon>schedule</mat-icon><span class="label">{{ announcement.showUntil }}-ig</span></span></mat-card-subtitle>
         <mat-card-subtitle><span><mat-icon>account_circle</mat-icon><span class="label">{{announcement.user.name}}</span></span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{announcement.message}}</p>
    </mat-card-content>
    <ng-container *ngIf="isUserAllowedToModify()">
        <mat-card-actions>
            <button mat-mini-fab color="accent" matTooltip="Szerkesztés" class="announcement-edit" (click)="openEditDialog(announcement)">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card-actions>
    </ng-container>
</mat-card>