<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="80">
        <mat-toolbar><span class="menu-spacer"></span>Alkalmazottak<span class="menu-spacer"></span></mat-toolbar>
        <div class="card-container" fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let user of (ps.allUser$ | async)">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <div mat-card-avatar class="profile-avatar"></div>
                        <mat-card-title>{{ user.name }}</mat-card-title>
                        <mat-card-subtitle>{{ user.role.split('_')[1] }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <span><mat-icon>email</mat-icon><span class="label">{{ user.email }}</span></span><br>
                        <span>
                            <mat-icon>domain</mat-icon><span class="label">Telephely(ek)</span>
                            <ul class="site-list">
                                <li *ngFor="let site of user.sites">{{site.name }} ({{site.location}})</li>
                            </ul>
                        </span>
                    </mat-card-content>
                    <ng-container *ngIf="ps.currentUser$.value.role === 'ROLE_ADMIN'">
                        <mat-card-actions>
                            <button mat-mini-fab class="profile-edit" color="accent" (click)="openEditDialog(user)"><mat-icon>settings</mat-icon></button>
                        </mat-card-actions>
                    </ng-container>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>